# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
test/*
*.log
*.pdf



# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
genealogy

# git setup stuff
git.sh

# Update checker data
latestcheck.json

## Build artifacts
bin/*
bin-gui/*
!bin/Readme.txt
build/*
# Ignore all files in the data directory
data/*
docs/*
dist/
installers/
KrankyBearPDF.app/
Resources/
test/
outdir/
vendor/*
sync*.sh
compile*.sh
compile*.ps1
compile*.bat
check-windows-env.ps1
iconprep.sh
images-optimize.sh
install-fyne.sh
install-go.sh
buildtest.sh
Makefile
mkAllZip.sh
package.sh
package-resources.sh
prepare-deps.sh
rename-app.sh
rsrc_windows_amd64.syso
setIcon.sh
setver.sh
prepare-deps.ps1
rename-app.sh
rsrc_windows_amd64.syso

# ALLOWED
!Inno/*
Inno/.DS_Store
!winres/*
winres/.DS_Store
!pdfviewer/
pdfviewer/docs/
